body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:lightblue;
}

h1 {
    margin-bottom: 20px;
}

.task-input {
    margin-bottom: 20px;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.task-text {
    flex-grow: 1;
}

.task-actions {
    display: flex;
    gap: 10px;
}